<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                { 
                    "cpu_user_percent_average": {
                        "time": "2018-11-24T18:58:21Z",
                        "value": .4
                    }
                },
                {
                    "cpu_user_percent_average": {
                        "time": "2018-11-25T23:58:21Z",
                        "value": 0.45
                    }
                },
                {
                    "cpu_user_percent_average": {
                        "time": "2018-11-26T02:58:21Z",
                        "value": .50
                    }
                },
                {
                    "cpu_user_percent_average": {
                        "time": "2018-11-27T10:58:21Z",
                        "value": .65
                    }
                }        
            ];

            document.write('<cpu-user-usage data-height="400" data-width="1000" data-graph=' + JSON.stringify(mock) + '></cpu-user-usage>');
        </script>
    </body>
</html>