<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "memory_used": {
                        "time": "2018-11-24T18:58:21Z",
                        "value": 865
                    }
                },
                {
                    "memory_used": {
                        "time": "2018-11-25T23:58:21Z",
                        "value": 810
                    }
                },
                {
                    "memory_used": {
                        "time": "2018-11-26T02:58:21Z",
                        "value": 928
                    }
                },
                {
                    "memory_used": {
                        "time": "2018-11-27T10:58:21Z",
                        "value": 539
                    }
                }
            ];

            document.write('<memory-used data-height="400" data-unit="b" data-width="1000" data-graph=' + JSON.stringify(mock) + '></memory-used>');
        </script>
    </body>
</html>