<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "ram": 713936,
                    "time": "2018-11-24T18:58:21Z"
                },
                {
                    "ram": 773983,
                    "time": "2018-11-25T23:58:21Z"
                },
                {
                    "ram": 663182,
                    "time": "2018-11-26T02:58:21Z"
                },
                {
                    "ram": 563423,
                    "time": "2018-11-27T10:58:21Z"
                }
            ];

            document.write('<hedwig-graph data-type="memory-ram" data-unit="mb" data-height="400" data-width="1000" data-graph=' + JSON.stringify(mock) + '></memory-free>');
        </script>
    </body>
</html>