<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "network_tx_collisions": {
                        "time": "2018-12-24T18:58:21Z",
                        "value": 0.0
                    }
                },
                {
                    "network_tx_collisions": {
                        "time": "2018-12-25T23:58:21Z",
                        "value": 0.0
                    }
                },
                {
                    "network_tx_collisions": {
                        "time": "2018-12-26T02:58:21Z",
                        "value": 0.0
                    }
                },
                {
                    "network_tx_collisions": {
                        "time": "2018-12-27T10:58:21Z",
                        "value": 0.0
                    }
                }
            ];

            document.write('<network-tx-collisions data-height="400" data-unit="collisions" data-width="1000" data-graph=' + JSON.stringify(mock) + '></network-tx-collisions>');
        </script>
    </body>
</html>