<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                { 
                    "cpu_sys_percent_average": {
                        "time": "2018-11-24T18:58:21Z",
                        "value": 0.2
                    }
                },
                {
                    "cpu_sys_percent_average": {
                        "time": "2018-11-25T23:58:21Z",
                        "value": 0.5
                    }
                },
                {
                    "cpu_sys_percent_average": {
                        "time": "2018-11-26T02:58:21Z",
                        "value": 0.3
                    }
                },
                {
                    "cpu_sys_percent_average": {
                        "time": "2018-11-27T10:58:21Z",
                        "value": 0.1
                    }
                }        
            ];

            document.write('<system-usage data-height="400" data-width="1000" data-graph=' + JSON.stringify(mock) + '></system-usage>');
        </script>
    </body>
</html>