<html>
    <head>
        <script type="text/javascript" src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "max_cpu_usage": 37.43,
                    "time": "2018-11-24T18:58:21Z"
                },
                {
                    "max_cpu_usage": 50.87,
                    "time": "2018-11-25T23:58:21Z"
                },
                {
                    "max_cpu_usage": 66.19,
                    "time": "2018-11-26T02:58:21Z"
                },
                {
                    "max_cpu_usage": 12.65,
                    "time": "2018-11-27T10:58:21Z"
                }
            ];

            document.write('<hedwig-graph data-type="cpu-max-usage" data-height="400" data-width="1000" data-graph=' + JSON.stringify(mock) + '></hedwig-graph>');
        </script>
    </body>
</html>