<html>

<head>
  <script src="../../../../dist/hedwig-main.umd.js"></script>
</head>

<body>
  <script>
    var mock = [
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "9ffe22d1-6489-4e98-90b0-b7f28c9d8094",
        "system_device": "828315",
        "system_key": "mgmt_plane_int_tap",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T17:48:21Z": 0.0,
        "2021-06-10T23:03:21Z": 0.0,
        "2021-06-11T08:03:21Z": 0.0,
        "2021-06-11T08:38:21Z": 0.0
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "a62c7b2e-5e06-4fdb-b6f0-81faf447113c",
        "system_device": "828315",
        "system_key": "one/two/four",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T17:48:21Z": 1121.693359375,
        "2021-06-10T23:03:21Z": 1753.126708984375,
        "2021-06-11T08:03:21Z": 390.9366760253906,
        "2021-06-11T08:38:21Z": 411.260009765625
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "d62cc6bc-c383-4884-8012-4c19d8e0b19e",
        "system_device": "828315",
        "system_key": "LANFAIL",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T17:48:21Z": 696.5233154296875,
        "2021-06-10T20:41:46Z": 17.183330535888672,
        "2021-06-10T21:41:46Z": 18.786670684814453,
        "2021-06-10T23:03:21Z": 337.6166687011719,
        "2021-06-10T23:21:46Z": 597.4466552734375,
        "2021-06-11T02:16:46Z": 259.8800048828125,
        "2021-06-11T07:16:46Z": 176.47999572753906,
        "2021-06-11T07:31:46Z": 176.4933319091797,
        "2021-06-11T08:03:21Z": 172.93667602539062,
        "2021-06-11T08:36:46Z": 176.51333618164062,
        "2021-06-11T08:38:21Z": 176.3699951171875
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "efb9319d-4dca-4ff8-a552-45d0794a63b6",
        "system_device": "828315",
        "system_key": "FW-TWISTLOCK",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T17:48:21Z": 479.5566711425781,
        "2021-06-11T08:03:21Z": 2.963330030441284,
        "2021-06-11T08:38:21Z": 2.653330087661743
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "f74edc0b-4a76-46b3-a068-fff138399164",
        "system_device": "828315",
        "system_key": "nlp_int_tap",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T17:48:21Z": 0.0,
        "2021-06-10T23:03:21Z": 0.0,
        "2021-06-11T08:03:21Z": 0.0,
        "2021-06-11T08:38:21Z": 0.0
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "2554ea70-4026-4334-99d2-47b751a5c86d",
        "system_device": "828315",
        "system_key": "RMS-TVA",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T20:41:46Z": 42.263328552246094,
        "2021-06-10T21:41:46Z": 40.77000045776367,
        "2021-06-10T23:21:46Z": 42.163330078125,
        "2021-06-11T02:16:46Z": 40.30332946777344,
        "2021-06-11T04:56:46Z": 41.5966682434082,
        "2021-06-11T07:26:46Z": 41.9233283996582,
        "2021-06-11T07:31:46Z": 43.086669921875,
        "2021-06-11T08:36:46Z": 41.936668395996094
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "a36a0cb3-074e-401d-9da4-a4abbb9d4c30",
        "system_device": "828315",
        "system_key": "one/two/four",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T20:41:46Z": 30.479999542236328,
        "2021-06-10T21:41:46Z": 33.18333053588867,
        "2021-06-10T23:21:46Z": 1216.5433349609375,
        "2021-06-11T02:16:46Z": 516.8733520507812,
        "2021-06-11T07:16:46Z": 399.47332763671875,
        "2021-06-11T07:26:46Z": 403.20001220703125,
        "2021-06-11T07:31:46Z": 399.4966735839844,
        "2021-06-11T08:36:46Z": 413.3766784667969
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "04aa160c-81da-4fbc-a11c-5609df44f861",
        "system_device": "828315",
        "system_key": "outside",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T20:41:46Z": 591.056640625,
        "2021-06-10T23:03:21Z": 4682.796875,
        "2021-06-11T02:16:46Z": 875.7133178710938,
        "2021-06-11T04:16:46Z": 360.32000732421875,
        "2021-06-11T05:01:46Z": 2377.106689453125,
        "2021-06-11T07:36:46Z": 772.0499877929688,
        "2021-06-11T08:03:21Z": 780.3466796875,
        "2021-06-11T08:06:46Z": 781.7899780273438,
        "2021-06-11T08:36:46Z": 785.943359375
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "aab3947c-d42b-4455-a9ac-4e45958d2468",
        "system_device": "828315",
        "system_key": "GigabitEthernet0_1",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T20:41:46Z": 2553.966552734375,
        "2021-06-10T23:03:21Z": 2588.969970703125,
        "2021-06-11T02:16:46Z": 739.2466430664062,
        "2021-06-11T04:16:46Z": 240.5800018310547,
        "2021-06-11T05:01:46Z": 777.2333374023438,
        "2021-06-11T07:36:46Z": 622.4000244140625,
        "2021-06-11T08:06:46Z": 622.5366821289062,
        "2021-06-11T08:36:46Z": 632.5700073242188
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "39335633-0761-4933-8987-c4fec51208e7",
        "system_device": "828315",
        "system_key": "mgmt_plane_int_tap",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T20:41:46Z": 0.0,
        "2021-06-10T21:41:46Z": 0.0,
        "2021-06-10T23:21:46Z": 0.0,
        "2021-06-11T02:16:46Z": 0.0,
        "2021-06-11T04:31:46Z": 0.0,
        "2021-06-11T07:16:46Z": 0.0,
        "2021-06-11T07:31:46Z": 0.0,
        "2021-06-11T08:06:46Z": 0.0,
        "2021-06-11T08:36:46Z": 0.0
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "d68decc3-f38c-41de-9c0f-30241775d3a5",
        "system_device": "828315",
        "system_key": "nlp_int_tap",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T20:41:46Z": 0.0,
        "2021-06-10T23:21:46Z": 0.0,
        "2021-06-11T02:16:46Z": 0.0,
        "2021-06-11T07:26:46Z": 0.0,
        "2021-06-11T07:31:46Z": 0.0,
        "2021-06-11T08:36:46Z": 0.0
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "9058e842-8dc0-406d-a0ab-f3f01bc43f9a",
        "system_device": "828315",
        "system_key": "FW-TWISTLOCK",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T20:41:46Z": 2297.72998046875,
        "2021-06-10T21:41:46Z": 3.666670083999634,
        "2021-06-11T05:01:46Z": 3.223330020904541,
        "2021-06-11T07:36:46Z": 2.6933300495147705,
        "2021-06-11T08:36:46Z": 2.7533299922943115
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "228b2fbb-448c-4020-9634-6ca2f5158406",
        "system_device": "828315",
        "system_key": "cplane",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T17:48:21Z": 1.0499999523162842,
        "2021-06-10T20:41:46Z": 1.0499999523162842,
        "2021-06-10T21:41:46Z": 1.0499999523162842,
        "2021-06-10T23:03:21Z": 1.0499999523162842,
        "2021-06-10T23:21:46Z": 1.0499999523162842,
        "2021-06-11T02:16:46Z": 1.0499999523162842,
        "2021-06-11T04:31:46Z": 1.0499999523162842,
        "2021-06-11T07:16:46Z": 1.0499999523162842,
        "2021-06-11T07:31:46Z": 1.0499999523162842,
        "2021-06-11T08:03:21Z": 1.0499999523162842,
        "2021-06-11T08:06:46Z": 1.0499999523162842,
        "2021-06-11T08:36:46Z": 1.0499999523162842,
        "2021-06-11T08:38:21Z": 1.0499999523162842
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  {
    "data": {
      "tenant": "hybrid:5002011",
      "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
      "tags": {
        "metricGroup": "misc",
        "monitoring_system": "ZENOSS",
        "resource": "828315",
        "resource_account_id": "5002011",
        "resource_cmdb_source": "CORE",
        "resource_datacenter": "DFW3",
        "resource_device_id": "828315",
        "resource_label": "828315-fw8.dfw1.rapid7",
        "resource_server_name": "828315-fw8.dfw1.rapid7",
        "resource_status": "Online/Complete",
        "system_contextUUID": "0bfd3666-a97c-454b-9e67-1adc98699623",
        "system_device": "828315",
        "system_key": "RMS-TVA",
        "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
      },
      "values": {
        "2021-06-10T17:48:21Z": 42.556671142578125,
        "2021-06-10T23:03:21Z": 43.13666915893555,
        "2021-06-11T08:03:21Z": 43.130001068115234,
        "2021-06-11T08:38:21Z": 41.67667007446289
      }
    },
    "metadata": {
      "aggregator": "raw",
      "startTime": "2021-06-01T10:24:49.976029Z",
      "endTime": "2021-06-11T10:24:49.976368Z"
    }
  },
  
];

    var mock11=[{
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "9ffe22d1-6489-4e98-90b0-b7f28c9d8094",
            "system_device": "828315",
            "system_key": "mgmt_plane_int_tap",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T17:48:21Z": 0.0,
            "2021-06-10T23:03:21Z": 0.0,
            "2021-06-11T08:03:21Z": 0.0,
            "2021-06-11T08:38:21Z": 0.0
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "a62c7b2e-5e06-4fdb-b6f0-81faf447113c",
            "system_device": "828315",
            "system_key": "one/two/four",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T17:48:21Z": 1121.693359375,
            "2021-06-10T23:03:21Z": 1753.126708984375,
            "2021-06-11T08:03:21Z": 390.9366760253906,
            "2021-06-11T08:38:21Z": 411.260009765625
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "d62cc6bc-c383-4884-8012-4c19d8e0b19e",
            "system_device": "828315",
            "system_key": "LANFAIL",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T17:48:21Z": 696.5233154296875,
            "2021-06-10T20:41:46Z": 17.183330535888672,
            "2021-06-10T21:41:46Z": 18.786670684814453,
            "2021-06-10T23:03:21Z": 337.6166687011719,
            "2021-06-10T23:21:46Z": 597.4466552734375,
            "2021-06-11T02:16:46Z": 259.8800048828125,
            "2021-06-11T07:16:46Z": 176.47999572753906,
            "2021-06-11T07:31:46Z": 176.4933319091797,
            "2021-06-11T08:03:21Z": 172.93667602539062,
            "2021-06-11T08:36:46Z": 176.51333618164062,
            "2021-06-11T08:38:21Z": 176.3699951171875
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "efb9319d-4dca-4ff8-a552-45d0794a63b6",
            "system_device": "828315",
            "system_key": "FW-TWISTLOCK",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T17:48:21Z": 479.5566711425781,
            "2021-06-11T08:03:21Z": 2.963330030441284,
            "2021-06-11T08:38:21Z": 2.653330087661743
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "f74edc0b-4a76-46b3-a068-fff138399164",
            "system_device": "828315",
            "system_key": "nlp_int_tap",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T17:48:21Z": 0.0,
            "2021-06-10T23:03:21Z": 0.0,
            "2021-06-11T08:03:21Z": 0.0,
            "2021-06-11T08:38:21Z": 0.0
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "2554ea70-4026-4334-99d2-47b751a5c86d",
            "system_device": "828315",
            "system_key": "RMS-TVA",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T20:41:46Z": 42.263328552246094,
            "2021-06-10T21:41:46Z": 40.77000045776367,
            "2021-06-10T23:21:46Z": 42.163330078125,
            "2021-06-11T02:16:46Z": 40.30332946777344,
            "2021-06-11T04:56:46Z": 41.5966682434082,
            "2021-06-11T07:26:46Z": 41.9233283996582,
            "2021-06-11T07:31:46Z": 43.086669921875,
            "2021-06-11T08:36:46Z": 41.936668395996094
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "a36a0cb3-074e-401d-9da4-a4abbb9d4c30",
            "system_device": "828315",
            "system_key": "one/two/four",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T20:41:46Z": 30.479999542236328,
            "2021-06-10T21:41:46Z": 33.18333053588867,
            "2021-06-10T23:21:46Z": 1216.5433349609375,
            "2021-06-11T02:16:46Z": 516.8733520507812,
            "2021-06-11T07:16:46Z": 399.47332763671875,
            "2021-06-11T07:26:46Z": 403.20001220703125,
            "2021-06-11T07:31:46Z": 399.4966735839844,
            "2021-06-11T08:36:46Z": 413.3766784667969
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "04aa160c-81da-4fbc-a11c-5609df44f861",
            "system_device": "828315",
            "system_key": "outside",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T20:41:46Z": 591.056640625,
            "2021-06-10T23:03:21Z": 4682.796875,
            "2021-06-11T02:16:46Z": 875.7133178710938,
            "2021-06-11T04:16:46Z": 360.32000732421875,
            "2021-06-11T05:01:46Z": 2377.106689453125,
            "2021-06-11T07:36:46Z": 772.0499877929688,
            "2021-06-11T08:03:21Z": 780.3466796875,
            "2021-06-11T08:06:46Z": 781.7899780273438,
            "2021-06-11T08:36:46Z": 785.943359375
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "aab3947c-d42b-4455-a9ac-4e45958d2468",
            "system_device": "828315",
            "system_key": "GigabitEthernet0_1",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T20:41:46Z": 2553.966552734375,
            "2021-06-10T23:03:21Z": 2588.969970703125,
            "2021-06-11T02:16:46Z": 739.2466430664062,
            "2021-06-11T04:16:46Z": 240.5800018310547,
            "2021-06-11T05:01:46Z": 777.2333374023438,
            "2021-06-11T07:36:46Z": 622.4000244140625,
            "2021-06-11T08:06:46Z": 622.5366821289062,
            "2021-06-11T08:36:46Z": 632.5700073242188
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "39335633-0761-4933-8987-c4fec51208e7",
            "system_device": "828315",
            "system_key": "mgmt_plane_int_tap",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T20:41:46Z": 0.0,
            "2021-06-10T21:41:46Z": 0.0,
            "2021-06-10T23:21:46Z": 0.0,
            "2021-06-11T02:16:46Z": 0.0,
            "2021-06-11T04:31:46Z": 0.0,
            "2021-06-11T07:16:46Z": 0.0,
            "2021-06-11T07:31:46Z": 0.0,
            "2021-06-11T08:06:46Z": 0.0,
            "2021-06-11T08:36:46Z": 0.0
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "d68decc3-f38c-41de-9c0f-30241775d3a5",
            "system_device": "828315",
            "system_key": "nlp_int_tap",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T20:41:46Z": 0.0,
            "2021-06-10T23:21:46Z": 0.0,
            "2021-06-11T02:16:46Z": 0.0,
            "2021-06-11T07:26:46Z": 0.0,
            "2021-06-11T07:31:46Z": 0.0,
            "2021-06-11T08:36:46Z": 0.0
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      }];
      var mock4=[{
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "9ffe22d1-6489-4e98-90b0-b7f28c9d8094",
            "system_device": "828315",
            "system_key": "mgmt_plane_int_tap",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T17:48:21Z": 0.0,
            "2021-06-10T23:03:21Z": 0.0,
            "2021-06-11T08:03:21Z": 0.0,
            "2021-06-11T08:38:21Z": 0.0
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "a62c7b2e-5e06-4fdb-b6f0-81faf447113c",
            "system_device": "828315",
            "system_key": "one/two/four",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T17:48:21Z": 1121.693359375,
            "2021-06-10T23:03:21Z": 1753.126708984375,
            "2021-06-11T08:03:21Z": 390.9366760253906,
            "2021-06-11T08:38:21Z": 411.260009765625
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "d62cc6bc-c383-4884-8012-4c19d8e0b19e",
            "system_device": "828315",
            "system_key": "LANFAIL",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T17:48:21Z": 696.5233154296875,
            "2021-06-10T20:41:46Z": 17.183330535888672,
            "2021-06-10T21:41:46Z": 18.786670684814453,
            "2021-06-10T23:03:21Z": 337.6166687011719,
            "2021-06-10T23:21:46Z": 597.4466552734375,
            "2021-06-11T02:16:46Z": 259.8800048828125,
            "2021-06-11T07:16:46Z": 176.47999572753906,
            "2021-06-11T07:31:46Z": 176.4933319091797,
            "2021-06-11T08:03:21Z": 172.93667602539062,
            "2021-06-11T08:36:46Z": 176.51333618164062,
            "2021-06-11T08:38:21Z": 176.3699951171875
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      },
      {
        "data": {
          "tenant": "hybrid:5002011",
          "metricName": "ifHCOutUcastPkts_ifHCOutUcastPkts",
          "tags": {
            "metricGroup": "misc",
            "monitoring_system": "ZENOSS",
            "resource": "828315",
            "resource_account_id": "5002011",
            "resource_cmdb_source": "CORE",
            "resource_datacenter": "DFW3",
            "resource_device_id": "828315",
            "resource_label": "828315-fw8.dfw1.rapid7",
            "resource_server_name": "828315-fw8.dfw1.rapid7",
            "resource_status": "Online/Complete",
            "system_contextUUID": "efb9319d-4dca-4ff8-a552-45d0794a63b6",
            "system_device": "828315",
            "system_key": "FW-TWISTLOCK",
            "system_zenoss_tenant_id": "c7a948b4-a651-11e8-bfb0-0242ac110003"
          },
          "values": {
            "2021-06-10T17:48:21Z": 479.5566711425781,
            "2021-06-11T08:03:21Z": 2.963330030441284,
            "2021-06-11T08:38:21Z": 2.653330087661743
          }
        },
        "metadata": {
          "aggregator": "raw",
          "startTime": "2021-06-01T10:24:49.976029Z",
          "endTime": "2021-06-11T10:24:49.976368Z"
        }
      }]

    document.write(
      '<hedwig-graph data-type="MAAS_cpu" data-group="tags.system_key" data-field="system_key" data-height=300 data-width=600 data-graph=' +
      JSON.stringify(mock) + '></hedwig-graph>');
  </script>
</body>

</html>