<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "min_cpu_usage": 5,
                    "time": "2018-11-24T18:58:21Z"
                },
                {
                    "min_cpu_usage": 25,
                    "time": "2018-11-25T23:58:21Z"
                },
                {
                    "min_cpu_usage": 11,
                    "time": "2018-11-26T02:58:21Z"
                },
                {
                    "min_cpu_usage": 5,
                    "time": "2018-11-27T10:58:21Z"
                }
            ];

            document.write('<hedwig-graph data-type="cpu-min-usage" data-unit="%" data-height="400" data-width="1000" data-graph=' + JSON.stringify(mock) + '></hedwig-graph>');
        </script>
    </body>
</html>