<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "total": 8866200,
                    "time": "2018-12-24T18:58:21Z"
                },
                {
                    "total": 8866200,
                    "time": "2018-12-25T23:58:21Z"
                },
                {
                    "total": 8866200,
                    "time": "2018-12-26T02:58:21Z"
                },
                {
                    "total": 8866200,
                    "time": "2018-12-27T10:58:21Z"
                }
            ];

            document.write('<hedwig-graph data-type="filesystem-total" data-height="400" data-unit="kb" data-width="1000" data-graph=' + JSON.stringify(mock) + '></hedwig-graph>');
        </script>
    </body>
</html>