<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "filesystem_files": {
                        "time": "2018-12-24T18:58:21Z",
                        "value": 2.92864E7
                    }
                },
                {
                    "filesystem_files": {
                        "time": "2018-12-25T23:58:21Z",
                        "value": 2.92864E7
                    }
                },
                {
                    "filesystem_files": {
                        "time": "2018-12-26T02:58:21Z",
                        "value": 2.92864E7
                    }
                },
                {
                    "filesystem_files": {
                        "time": "2018-12-27T10:58:21Z",
                        "value": 2.92864E7
                    }
                }
            ];

            document.write('<filesystem-files data-unit="count" data-height="400" data-width="1000" data-graph=' + JSON.stringify(mock) + '></filesystem-files>');
        </script>
    </body>
</html>