<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                { 
                    "memory_swap_total": {
                        "time": "2018-11-24T18:58:21Z",
                        "value": 146
                    }
                },
                {
                    "memory_swap_total": {
                        "time": "2018-11-25T23:58:21Z",
                        "value": 186
                    }
                },
                {
                    "memory_swap_total": {
                        "time": "2018-11-26T02:58:21Z",
                        "value": 251
                    }
                },
                {
                    "memory_swap_total": {
                        "time": "2018-11-27T10:58:21Z",
                        "value": 159
                    }
                }        
            ];

            document.write('<memory-swap-total data-height="400" data-width="1000" data-graph=' + JSON.stringify(mock) + '></memory-swap-total>');
        </script>
    </body>
</html>