<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "stolen_percent_average": 4.3,
                    "time": "2018-11-24T18:58:21Z"
                },
                {
                    "stolen_percent_average": 25.67,
                    "time": "2018-11-25T23:58:21Z"
                },
                {
                    "stolen_percent_average": 37.12,
                    "time": "2018-11-26T02:58:21Z"
                },
                {
                    "stolen_percent_average": 5.78,
                    "time": "2018-11-27T10:58:21Z"
                }
            ];

            document.write('<hedwig-graph data-type="cpu-stolen-percent" data-unit="%" data-height="400" data-width="1000" data-graph=' + JSON.stringify(mock) + '></hedwig-graph>');
        </script>
    </body>
</html>