<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "network_tx_dropped": {
                        "time": "2018-11-24T18:58:21Z",
                        "value": 3.0
                    }
                },
                {
                    "network_tx_dropped": {
                        "time": "2018-11-25T23:58:21Z",
                        "value": 3.4
                    }
                },
                {
                    "network_tx_dropped": {
                        "time": "2018-11-26T02:58:21Z",
                        "value": 1.1
                    }
                },
                {
                    "network_tx_dropped": {
                        "time": "2018-11-27T10:58:21Z",
                        "value": 0.0
                    }
                }
            ];

            document.write('<network-tx-dropped data-height="400" data-unit="packets" data-width="1000" data-graph=' + JSON.stringify(mock) + '></network-tx-dropped>');
        </script>
    </body>
</html>