<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "network_rx_packets": {
                        "time": "2018-11-24T18:58:21Z",
                        "value": 4.2534678731E10
                    }
                },
                {
                    "network_rx_packets": {
                        "time": "2018-11-25T23:58:21Z",
                        "value": 22.2917678731E10
                    }
                },
                {
                    "network_rx_packets": {
                        "time": "2018-11-26T02:58:21Z",
                        "value": 16.8739678731E10
                    }
                },
                {
                    "network_rx_packets": {
                        "time": "2018-11-27T10:58:21Z",
                        "value": 57.8925378731E10
                    }
                }
            ];

            document.write('<network-rx-packets data-height="400" data-unit="packets" data-width="1000" data-graph=' + JSON.stringify(mock) + '></network-rx-packets>');
        </script>
    </body>
</html>