<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "wait_percent_average": 22,
                    "time": "2018-11-24T18:58:21Z"
                },
                {
                    "wait_percent_average": 5.3,
                    "time": "2018-11-25T23:58:21Z"
                },
                {
                    "wait_percent_average": 90.12,
                    "time": "2018-11-26T02:58:21Z"
                },
                {
                    "wait_percent_average": 50.3,
                    "time": "2018-11-27T10:58:21Z"
                }
            ];

            document.write('<hedwig-graph data-type="cpu-wait-average" data-height="400" data-width="1000" data-graph=' + JSON.stringify(mock) + '></hedwig-graph>');
        </script>
    </body>
</html>