<html>
    <head>
        <script src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "tx_bytes": 38208664000,
                    "time": "2018-11-24T18:58:21Z"
                },
                {
                    "tx_bytes":  706733675404,
                    "time": "2018-11-25T23:58:21Z"
                },
                {
                    "tx_bytes":  42731090409339,
                    "time": "2018-11-26T02:58:21Z"
                },
                {
                    "tx_bytes":  18243894940708,
                    "time": "2018-11-27T10:58:21Z"
                }
            ];

            document.write('<hedwig-graph data-type="network-tx-bytes" data-height="400" data-unit="b" data-width="1000" data-graph=' + JSON.stringify(mock) + '></hedwig-graph>');
        </script>
    </body>
</html>