<html>
    <head>
        <script type="text/javascript" src="../../../../dist/hedwig-main.umd.js"></script>
    </head>
    <body>
        <script>
            var mock = [
                {
                    "free": 82693348,
                    "time": "2018-11-24T18:58:21Z"
                },
                {
                    "free": 79534320,
                    "time": "2018-11-25T23:58:21Z"
                },
                {
                    "free": 78534382,
                    "time": "2018-11-26T02:58:21Z"
                },
                {
                    "free": 75534031,
                    "time": "2018-11-27T10:58:21Z"
                }
            ];

            document.write('<hedwig-graph data-type="filesystem-free" data-height="400" data-width="1000" data-unit="kb" data-graph=' + JSON.stringify(mock) + '></hedwig-graph>');
        </script>
    </body>
</html>